* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  background: #1e352f;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.highlight {
    background-color: #f7dba7;
}


/* DESKTOP MENU
=========================== */

.media ul li a:hover{
    color: #335145;
    text-decoration: none;
    background-color: #f7dba7;
}

.media ul li a{
    color: #f1ab86;
    text-decoration: none;
}

.media ul {
  position: absolute;
    bottom: 350px;
    left: -100px;
    transform: rotate(-90deg);
    z-index: 1;
    list-style: none;
}

.media ul li{
    letter-spacing: 2px;
    display: inline-block;
    text-decoration: none;
    padding: 0 30px;
    color: #f1ab86;
}
/*#335145*/

/*CURSOR*/
.cursor{
    height: 3rem;
    width: 3rem;
    border: 2px solid #f1ab86;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
    transform: translate(-50%, -50%);
/*    pointer-events: none;*/
}

.cursor-grow{
    transform: scale(2);
}

/* TEXT
=========================== */
.text {
  position: absolute;
  top: 200px;
  left: 100px;
  transform: rotate(-90deg);
}

.text h1 {
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -7px;
  margin-bottom: 20px;
    color: #B1DECA;
  position: relative;
/*  overflow: hidden;*/
  height: 350px;
  width: 600px;
}
.text h1 .hidetext {
  position: absolute;
}

.text h2 {
  position: absolute;
  top: 40px;
  left: -80px;
  color: #DEF4E2;
  z-index: -1;
  font-size: 150px;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;

  position: relative;
  overflow: hidden;
  height: 80px;
}
.text h3 .hidetext {
  position: absolute;
}

.text p {
  width: 200px;
  font-size: 12px;
  margin-top: 30px;
  font-weight: 500;

  position: relative;
  overflow: hidden;
  height: 110px;
}
.text p .hidetext {
  position: absolute;
}


/* SPONSOR
=========================== */
/*
.sponsor {
  position: absolute;
  right: 100px;
  bottom: 100px;
  text-align: center;
}

.sponsor img {
  width: 200px;
  transform: rotate(-90deg);
}

.sponsor p {
  margin-top: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  transform: rotate(180deg);
}
*/

/*ARROWS
=========================== */




/*SLIDESHOW
=========================== */
.slideshow-container {
  height: 100vh;
    width: auto;
  position: relative;
  margin: auto;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: scroll;
}

.slideImg {
    height: 100vh;
    width: auto;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    position: fixed;
  right: 0;
  bottom: 0;
    overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

.mobL {
  top: 80%;
    left: 0%;
    position: fixed;
    transform: rotate(-90deg);
  width: auto;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline;
}

.mobR {
    top: 80%;
    right: 0%;
    transform: rotate(-90deg);
    position: fixed;
  border-radius: 3px 0 0 3px;
  transition: 0.6s ease;
  user-select: none;
    display: inline;
  
}


video{
     width: 100%    !important;
  height: auto   !important;
    text-align: center;
    
}

/*MENU*/


.mobile ul li a{
    color: #c57b57;
    text-decoration: none;
}

.mobile ul {
  position: fixed;
    top: 80%;
    z-index: 1;
    list-style: none;
    left: 20%;
    text-align: right;
    
}

.mobile ul li{
    letter-spacing: 2px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: -1px;
    padding: 2% 10%;
    font-size: 20px;
    font-weight: 200;
    color: #DEF4E2;
    
}

.images {
    display: grid;
}

.images img{
    height: 500px;
    width: 500px;
    padding: 10px;
}

/* DISTORTION
=========================== */
.distortion {
  width: 580px;
  height: 720px;
  position: absolute;
  right: 300px;
  bottom: 0;
}

/* OVERLAY
=========================== */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background: #f7dba7;
}

.second {
  background: #f1ab86;
  left: 33.3%;
}

.third {
  background: #c57b57;
  left: 66.6%;
}
