/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

body {
  font-family: 'Poppins';
  overflow: hidden;
}

.welcome{
    margin: 45vh;
    align-content: center;
    justify-content: center;
}

.blink {
  animation: blinker 1.2s linear infinite;
    
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.slide {
    width: 95vw;
    height: 100vh;
    
    background-image: url(img/repeat.png);
    background-repeat: no-repeat;
}


.wrapper {
    display: flex;
    flex-direction: row;
    width: 380vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.one {
/*    background: linear-gradient(to left, #B1DECA, #B1DECA 50%, #DEF4E2 75%, #DEF4E2 75%);*/
}

.two {
  
}

.three {
    
}

.four {
    background: url(/img/repeat.png);
    background-position: center center;
     background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.galleryDisplay video{
    height: 400px;
    width: auto;
}

.imgUp{
    margin-top: 15vh;
}

.imgDown{
    margin-top: 30vh;
}

/*ARROWS*/



/*
section{
    height: 100vh;
    color: white;
    background-color: black;
}
*/

.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
}

::-webkit-scrollbar {
    display: none;
}

.center {
text-align: center;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
    
}

.under{
    position: absolute;
}

.over{
/*
    position: relative;
    top:30px;
    left: 30px;
*/
    z-index: 1;
}


