/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

body {
  font-family: 'Poppins';
  overflow: hidden;
}
.blink {
  animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.slide {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.one {
/*    background: #bb3b0e;*/
    background: url(/img/myHouse.png);
    background-position: center center;
     background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-color: aquamarine;
}

.two {
    background: url(/img/repeat.png);
    background-position: center center;
     background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.three {
    background: #708160;
}

.four {
    background: url(/img/repeat.png);
    background-position: center center;
     background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

/*
.wrapper .game{
    height: 100vh;
}

.game video{
    margin: 0;
    height: 100vh;
    top: 0;
    object-fit: cover;
}
*/

/*
section{
    height: 100vh;
    color: white;
    background-color: black;
}
*/

.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
}

::-webkit-scrollbar {
    display: none;
}

.center {
text-align: center;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
    
}

.under{
    position: absolute;
}

.over{
/*
    position: relative;
    top:30px;
    left: 30px;
*/
    z-index: 1;
}


.media ul li a:hover{
    color: #DEF4E2;
    text-decoration: none;
}

.media ul li a{
    color: #B1DECA;
    text-decoration: none;
}

.media ul {
  position: absolute;
    bottom: 350px;
    left: -140px;
    transform: rotate(-90deg);
    z-index: 1;
    list-style: none;
}

.media ul li{
    letter-spacing: 2px;
    display: inline-block;
    text-decoration: none;
    padding: 0 30px;
    color: #DEF4E2;
}