*{
    font-family: 'Krona One', sans-serif;
    
}

.main{
    min-height: 80vh;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.3));
/*    display: flex;*/
    align-items: center;
    justify-content: center;
    padding: 2vh;
    overflow: hidden;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 90%;
    background: linear-gradient(to right bottom, rgba(255,255,255,1), rgba(255,255,255,0.6));
    border-radius: 30px;
    z-index: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dashboard{
/*
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.2));
    border-radius: 30px;
*/
}

.projectButton{
    background: linear-gradient(to right top,#f7dba7, #f1ab86);
    border-radius: 2rem;
    border-style: none;
    width: 10rem;
    height: 3rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects a{
    text-decoration: none;
    color: #fff;
}

/*YEDIDIA--------------*/

.yedidia{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.yedidia a{
    color: #f1ab86;
    text-decoration: none;
}

.yedidia h5, .yedidia h3, .yedidia h6{
    color: #f1ab86;
    font-family: 'Krona One', sans-serif;
}

.yedidia:hover{
    color: #B1DECA;
    text-decoration: none;
}

/*--------------YEDIDIA*/