/* MENU
=========================== */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
    right: 0;
  text-align: center;
  margin-top: 30px;
}

.overlay a{
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    text-decoration: none;
    color: #f1ab86;  
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.menu {
  position: fixed;
    top: 0%;
    right: 0;
    z-index: 1;
    list-style: none;
/*    text-align: right;*/
    color: #f1ab86;
    text-decoration: none;
    font-size: 40px; 
    font-family: 'Krona One', sans-serif;
    cursor: pointer;
}

.menuM {
  position: fixed;
    top: 0%;
    right: 0;
    z-index: 1;
    list-style: none;
    text-align: right;
    color: #B1DECA;
    text-decoration: none;
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.yedidia{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}


*
{
    -webkit-tap-highlight-color: transparent;
}

*:focus
{
    outline: none;
}


#webapp_cover
{
    top: 50%;
    right: 0;
    left: 0;
    width: 90px;
    margin: 0 auto;
    transform: translateY(-20%) scale(2);
}

#menu_button
{
    width: 70px;
    overflow: hidden;
}

#menu_checkbox
{
    display: none;
}

#menu_label
{
    position: relative;
    display: block;
    height: 29px;
    cursor: pointer;
}

#menu_label:before, #menu_label:after, #menu_text_bar
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
}

#menu_label:before, #menu_label:after
{
    content: '';
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu_label:before
{
    top: 0;
}

#menu_label:after
{
    top: 12px;
}

#menu_text_bar
{
    top: 24px;
}

#menu_text_bar:before
{
    content: 'yedidia';
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 12px;
/*    font-weight: bold;*/
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    text-align: center;
}

#menu_checkbox:checked + #menu_label:before
{
    left: -70px;
}

#menu_checkbox:checked + #menu_label:after
{
    left: -70px;
}

#menu_checkbox:checked + #menu_label #menu_text_bar:before, #menu_label.open
{
    animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown
{
    0%{ top:0; }
    50%{ top:-27px;}
    100%{ top:-14px; }
}

@keyframes shakeWhileMovingUp
{
    0%{ transform: rotateZ(0); }
    25%{ transform:rotateZ(-10deg); }
    50%{ transform:rotateZ(0deg); }
    75%{ transform:rotateZ(10deg); }
    100%{ transform:rotateZ(0); }
}

@keyframes shakeWhileMovingDown
{
    0%{ transform:rotateZ(0); }
    80%{ transform:rotateZ(3deg); }
    90%{ transform:rotateZ(-3deg); }
    100%{ transform:rotateZ(0); }
}
