* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Krona One', sans-serif;
    font-weight: 100;
    color: black;
    
}

body{
    font-size: 3rem;
    overflow-x: hidden;
/*    cursor: none;*/
/*    watch https://www.youtube.com/watch?v=TpwpAYi-p2w*/
}


/*PROJECT DASHBOARD---------------------*/
.bodybody{
/*    padding: 50px 10%;*/
}

.bodybody img{
    height: 300px;
    width: auto;
    margin: 10px;
}

.projects a:hover{
    text-decoration: none;
}

.main{
    min-height: 100vh;
/*    background: linear-gradient(to right top,#f7dba7, #f1ab86);*/
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 80%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.4));
    border-radius: 30px;
    z-index: 0;
    margin: auto;
    display: flex;
      flex-direction: row;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
}

.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.2));
    border-radius: 30px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
}

.projectCards{
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.projectButton{
    background: linear-gradient(to right top,#f7dba7, #f1ab86);
    border-radius: 1rem;
    border-style: none;
    width: 8rem;
    margin: 5px;
    color: #fff;
}

.projectButton a{
    text-decoration: none;
    color: #fff;
}

.projectButton a:hover{
    text-decoration: none;
    color: #fff;
}

.pro{
    height: auto;
    width: 100px; 
    border-radius: 2rem;
}

.photoCard{
    width: 300px;
    height: auto;
}

.cardi{
      display: flex;
  flex-direction: row;
}

.card{
   background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.4)) !important;
/*    background-color: rgba(255,255,255,0.8) !important;*/
    border-radius: 2rem;
    border-style: none;
    border: none;
}

.card-header{
     background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.4)) !important;
}

.card-title{
    padding: 5px;
}

@media (max-width: 916px) {
  .glass, .cardi, .projects {
    flex-direction: column;
  }
   .glass {
    width: 100vw;
  }
    .projects{
        flex-direction: row;
        justify-content: space-between;
    }
    
    .main, .dashboard{
        padding: 2vh;
    }
    
}

/*LOADING SCREEN*/

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: linear-gradient(to right top,#f7dba7, #f1ab86);
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    z-index: 1001;
}


#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}


@media screen and (min-width:768px)
{
    .cardi, .dashboard{
    height: 80vh;
    width: 100%;
        background-size: cover;
}
}

/*CARDS FOR CODE*/
.cardi{
    height: 80vh;
    width: 35rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 0rem 2rem;
    display: flex;
}


.project{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.2));
    border-radius: 1rem;
    padding: .5rem;
    margin: 2rem 0rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
}

.progress{
    background: linear-gradient(to right top,#f7dba7, #f1ab86);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 20%;
}

.percentage{
    font-weight: bold;
}

/*---------------------CODE*/


/*LOADING SCREEN-------------------*/
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%); 
    -ms-transform: translateX(-100%);  
    transform: translateX(-100%);
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%); 
    -ms-transform: translateX(100%); 
    transform: translateX(100%); 
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.3s 0.3s ease-out;
            transition: all 0.3s 0.3s ease-out;
}

.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 0.6s ease-out;
                transition: all 0.3s 0.6s ease-out;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 1s ease-out;
                transition: all 0.3s 1s ease-out;
}

/*-----------------LOADING SCREEN*/

.whiteText{
    color: #fff;
}


.blogImg{
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

.blogs a{
    text-decoration-style: dashed;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

.container-fluids{
    padding: 0 0% 10%;
    margin: 0;
}


.still-image{
    padding-top: 10px;
}

.animated-loop{
    padding-top: 10px;
}

/*SNIPPETS
*/
.snips{
    margin-top: 0%;
}

.snips-buttons{
    text-align: left;
    padding-bottom: 10px;
}

.snips-buttons-link a{
    background-color: #f1ab86;
    font-size: 18px;
    border-color: transparent;
    padding-right: 10px;
    border-style: double;
    line-height: 1;
  text-align: center;
  color: #335145;
}

.snips-buttons-link a:hover{
   background-color: #f7dba7;
    border-color: transparent;
    color: #335145;
    text-decoration: none;
}


.snips button{
    background-color: transparent;
    font-size: 18px;
    border-color: transparent;
    padding-right: 10px;
    border-style: double;
    line-height: 1;
  text-align: center;
  color: #f1ab86;
  text-decoration-style: dashed;
}

.snips button:hover{
    background-color: #f7dba7;
    border-color: transparent;
    color: #335145;
    text-decoration-style: dashed;
}



/*
.snips a{
    background-color: transparent;
    font-size: 18px;
    border-color: transparent;
    padding-right: 10px;
    border-style: double;
    line-height: 1;
  text-align: center;
  color: #f1ab86;
  text-decoration-style: dashed;
}

.snips a:hover{
    background-color: #f7dba7;
    border-color: transparent;
    color: #335145;
    text-decoration-style: none;
}
*/




/*WRITING*/
.topics{
    margin-left: 30%;
}

.topic-buttons{
    text-align: right;
}

.topics button{
    background-color: transparent;
    font-size: 18px;
    border-color: transparent;
    padding-right: 10px;
    border-style: double;
    line-height: 1;
  text-align: center;
  color: #f1ab86;
  text-decoration-style: dashed;
}

.topics button:hover{
    background-color: #f7dba7;
    border-color: transparent;
    color: #335145;
    text-decoration-style: dashed;
}


.offset:before{
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block;
}



/*-----------------*/


/*Article*/
.badge{
    background-color: #FCB9A4;
}

.badgeOne{
    background-color: #FCDFA4;
}

.postImg{
    width: 100%;
    height: 400px;
}

.profileImg{
    display: inline;
    height: 50px;
}

.author{
    display: inline;
}

.profile a{
    color: #FAD1AE;
}

.profile a:hover{
    text-decoration: none;
    color: #FCDFA4;
}

video{
    width: 100%    !important;
  height: auto   !important;
    text-align: center;
    
}

/*IMAGE HOVER CHANGE*/
#imageChange {
  height: 400px;
  width: auto;
  padding: 10px auto;
}

#imageChange img {
  position:absolute;
/*  left:0;*/
  -webkit-transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -o-transition: opacity .75s ease-in-out;
  transition: opacity .75s ease-in-out;
}

#imageChange img.top:hover {
  opacity:0;
}
/*-------------------------*/

.overlayy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #335145;
}

.overy:hover .overlayy {
  opacity: .75;
}

.text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.bodybo{
    padding: 10% 10%;
}

.bodybo img{
    height: 400px;
    width: auto;
}

.margy{
    padding-top: 50px;
}

.introVid{
    position: fixed;
    min-width: 100%;
  min-height: 100%;
    z-index: -1;
}


.yedidia{
/*    padding: 10%;*/
/*  margin: -50% 5%; */
/*    position: fixed;*/
/*    text-align: center;*/
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.yedidia a{
    color: #f1ab86;
    text-decoration: none;
}

.yedidia h5{
    color: #f1ab86;
    font-family: 'Krona One', sans-serif;
}

.yedidia:hover{
    color: #B1DECA;
    text-decoration: none;
}

.bodybody h4, h2{
    padding: 10px 0;
}

.green{
    background-image: linear-gradient(to right, #B1DECA , #335145);
    color: #fff;
    height: 100vh;
    width: 100vw;
}

.greenn{
    background-color: #335145;
    color: #fff;
    height: 100vh;
    width: 100vw;
}

.orange{
    background-image: linear-gradient(to right, #FCDFA4 , #f1ab86);
    color: #fff;
    height: 100vh;
    width: 100vw;
}



/*
.accordion .accordion-flush{
    transform: rotate(90deg);
}
*/

/*-------------------------*/


.leftside, .rightside{
    
    width: 100%;
    padding: 0;
    margin: 0;
/*    position: absolute;*/
    overflow: hidden;
}

.leftside{
    height: 60vh;
}

.leftside a{
    color: #f1ab86;
}

.rightside{
    height: 40vh;
/*    background-image: url(../img/code.png);*/
}

.rightside img{
    height: 200px;
    width: 300px;
}

@media (max-width: 800px) {
  .leftside, .rightside {
    width: 100vw;
  }
    
}

@media screen and (min-width:768px)
{
    .leftside, .rightside{
    height: 100vh;
    width: 100%;
        background-size: cover;
}
}

/*LOADING ANIMATION*/
.scene, loading {
    position: absolute;
    width: 100%;
    height: 100%;
}


/*TIMELINE*/

#journey{
    background-image: linear-gradient(to right, #6d6875 , #b5838d);
    color: white;
/*    background-size: cover;*/
    
}

/* Style the header: fixed position (always stay at the top) */
/*
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
*/

/* The progress container (grey background) */
/*
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}
*/

/* The progress bar (scroll indicator) */
/*
.progress-bar {
  height: 8px;
  background: #DEF4E2;
  width: 0%;
}
*/

/*LANGUAGE CONTROL*/
/*
#lang-switch {
    border-radius: 10px;
    border-color: #DEF4E2;
}
*/

.outer-border {
    height: 667px;
    width: 375px;
}

.border {
    left: 20px;
    margin: 20px;
    padding: 10px;
    background-color: #B1DECA;
    border: none;
    height: 414px;
    width: 300px;
}

/*MOBILE LINKS PAGE*/


.images {
    display: grid;
}

.images .row{
     margin-left: 20px;
    margin-right: 20px;
/*    margin-top: 15%;*/
    text-align: center;
    padding: 10px;
    display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.images .col-md-10{
    text-align: center;
    padding: 10px;
    flex: 50%;
  padding: 0 4px;
}

.images img{
    padding: 10px;
}

/*CURSOR*/
/*
.cursor{
    height: 3rem;
    width: 3rem;
    border: 2px solid #335145;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.32 ease;
    transition-property: background, transform;
}
*/

/*
.cursor-dot{
    height: 1rem;
    width: 1rem;
    border: 2px solid #335145;
    border-radius: 50%;

    position: absolute;
    transform: translate(-40%, -40%);
}


.cursor-grow{
    transform: scale(1.5);
}
*/

.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover {
    transform: scale(1.5); 
    position: relative;
    z-index: 1;
    cursor: zoom-in;
}


.readable {
    background-color: #f1ab86;
    border-color: white;
    color: white;
    
}

.white {
   background-color: white;
    border-color: #f1ab86; 
    color: #f1ab86;
}

/* BIO
=========================== */
#bio img{
    width: 350px;
}

/* RESUME
=========================== */

.resume img {
    width: 75vw;
}


/** {box-sizing:border-box}*/

/*
.mobileshow-container {
  height: 80vh;
    width: 80vw;
    padding-top: 50px;
  position: relative;
  margin: auto;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
    overflow-y: hidden;
}
*/

.mobileImg {
    height: 80vh;
    width: auto;
    background-position: center;
  background-repeat: no-repeat;
/*  background-size: cover;*/
/*    position: fixed;*/
  left: 40;
  bottom: 60;
    overflow-x: hidden;
    padding-top: 20;
}

.backImg {
    height: auto;
    width: 100vw;
    margin-top: -180px;
    margin-bottom: 10%;
    background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
/*    position: fixed;*/
    overflow-x: hidden;
    overflow-y: hidden;
/*
  min-width: 100%;
  min-height: auto;
*/
   display: block;
/*
    left: 0;
    top: 0;
*/
/*
    right: 0;
  bottom: 0;
*/
  margin-left: -10%;
  margin-right: -10%;
/*  width: 60%;*/
}

/* Slideshow container */
.slideshow-container {
  height: 100vh;
    width: auto;
  position: relative;
  margin: auto;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
    overflow-y: hidden;
}

.slideImg {
    height: 100vh;
    width: auto;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    position: fixed;
  right: 0;
  bottom: 0;
    overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prevu, .nextu {
   position: absolute;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


.prevu {
  top: 80%;
    left: 45%;
  width: auto;
    transform: rotate(90deg);
/*  margin-top: -22px;*/
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
    
}

.nextu {
  top: 10%;
    left: 45%;
    transform: rotate(-180deg);
  width: auto;
  margin-top: -22px;
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
    color: #f1ab86;
}

.nextu:hover {
    color: red;
    fill: red;
}

.next:hover {
    color: red;
    fill: red;
}

.mobL {
  top: 80%;
    left: 0%;
    position: fixed;
    transform: rotate(180deg);
  width: auto;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline;
    cursor: pointer;
}

.mobR {
    top: 80%;
    right: 0%;
    transform: rotate(-90deg);
    position: fixed;
  border-radius: 3px 0 0 3px;
  transition: 0.6s ease;
  user-select: none;
    display: inline;
  cursor: pointer;
}


/* Caption text */
.caption a{
  top: 40%;
  position: absolute;
  bottom: 40%;
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -7px;
    color: #f1ab86;
  width: 100%;
}

.caption a:hover{
  top: 40%;
  position: absolute;
  bottom: 40%%;
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -7px;
    color: #B1DECA;
    text-decoration: none;
  width: 100%;
}

.captionm a{
  padding: 80px 12px;
  position: fixed;
  bottom: -10%;
    right: 0%;
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -7px;
    color: #B1DECA;
  height: 350px;
  width: 100%;
}

.captionm a:hover{
  padding: 80px 12px;
  position: fixed;
  bottom: -10%;
/*    right: 0%;*/
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -7px;
    color: #f1ab86;
    text-decoration: none;
/*  position: relative;*/
/*  overflow: hidden;*/
  height: 350px;
  width: 100%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*SCROLLBAR NOT DISPLAYED*/
::-webkit-scrollbar {
    display: none;
}



/* DISTORTION
=========================== */
/*
.distortion {
  width: 580px;
  height: 720px;
  position: absolute;
  right: 300px;
  bottom: 0;
}
*/

/* OVERLAY
=========================== */
/*
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background: #f7dba7;
}

.second {
  background: #f1ab86;
  left: 33.3%;
}

.third {
  background: #c57b57;
  left: 66.6%;
}
*/
