*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 3rem;
    font-family: 'Poppins';
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.blogImg{
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

.under{
    position: absolute;
}

.over{
/*
    position: relative;
    top:30px;
    left: 30px;
*/
    z-index: 1;
}

.container-fluid{
    padding: 0 0% 10%;
    margin: 0;
}

.container{
    padding: 3% 15%;
}

.navbar {
/*    background-color: #c9ada7;*/
    padding-bottom: 10px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link{
    color: white;
}

.btn-group-toggle{
    font-family: sans-serif;
    
    
}

.topics{
    margin-left: 20%;
}

/*
a{
    color: #fff;
}
*/

.topics button{
    background-color: transparent;
    font-size: 18px;
    border-color: transparent;
    padding-right: 10px;
    border-style: double;
    line-height: 1;
  text-align: center;
  color: #B1DECA;
  border-radius: 10px;
  text-decoration: none;
}

.topics button:hover{
    background-color: transparent;
    border-color: transparent;
    color: black;
}



.offset:before{
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block;
}


.article{
    
}

video{
     width: 100%    !important;
  height: auto   !important;
    text-align: center;
    
}

/*
.preview{
    text-align: center;
}

.preview img{
    height: 300px; width: 500px;
}

.placeholder{
    padding: 2rem 1rem 1rem;
    margin: 0 auto 0 auto;
    height: 800px;
    width: 1000px;
    background-color: #FFDDD2;
}
*/

.media ul li a:hover{
    color: #DEF4E2;
    text-decoration: none;
}

.media ul li a{
    color: #B1DECA;
    text-decoration: none;
}

.media ul {
  position: fixed;
    bottom: 350px;
    left: -260px;
    transform: rotate(-90deg);
    z-index: 1;
    list-style: none;
}

.media ul li{
    letter-spacing: 2px;
    display: inline-block;
    text-decoration: none;
    padding: 0 30px;
    color: #DEF4E2;
}



/*TIMELINE*/

#journey{
    background-image: linear-gradient(to right, #6d6875 , #b5838d);
    color: white;
/*    background-size: cover;*/
    
}


/*OVERLAY*/
.overlayContainer {
  position: relative;
/*  width: 50%;*/
}

.overlayImage {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
    border-radius: 5px;
  transition: .5s ease;
/*  background-color: #388A78;*/
    background-image: linear-gradient(to right, #388A78 , #3A92A1);
}

.overlayContainer:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text a{
    color: white;
}

.text a:hover{
    color: white;
    text-decoration: none;
}

.services{
    padding: 3%;
}

/*FLOATING MENU*/

/*
* {
  font-size: inherit;
  font-family: inherit;
  margin: 0;
}


.vh { 
    top: 100%;
    left: 50%;
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

[data-menu-component] {
  position: relative;
  display: inline-block;
      margin: 1rem;
}

label {
  display: inline-block;
}

[role="menu"] ul {
  list-style: none;
  margin: 10;
  padding: 10;
}

[data-opens-menu], [role="menu"] a {
  line-height: 1;
  text-align: center;
  background: #fff;
  border-radius: 40px;
  color: #388A78;
    height: 30px;
    width: 120px;
  padding: 0.33rem 0.5rem;
  text-decoration: none;
}

[data-opens-menu], [role="menu"] a:hover{
    background-color: #388A78;
    border-color: #388A78;
    color: white;
    text-decoration: none;
}

[type="checkbox"]:focus + [data-opens-menu], [role="menu"] a:focus {
  outline: none;
  background: #388A78;
}

:checked + label .expanded-text {
  display: inline;
}

:checked + label .collapsed-text {
  display: none;
}

[type="checkbox"]:not(:checked) + label .expanded-text {
  display: none;
}

[type="checkbox"]:not(:checked) + label .collapsed-text {
  display: inline;
}

[role="menu"] {
  position: absolute;
  left: 0;
  display: none;
}

:checked ~ [role="menu"] {
  display: block;
}

[data-menu-origin="right"] {
  left: auto;
  right: 0;
}

[role="menu"] a {
  display: block;
  min-width: 100%;
  margin-top: 0.125rem;
  white-space: nowrap;
}
*/
