* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-weight: 100;
    color: black;
    
}

body{
    font-size: 3rem;
/*    cursor: none;*/
/*    watch https://www.youtube.com/watch?v=TpwpAYi-p2w*/
}

.whiteText{
    color: #fff;
}

.logoImg{
    margin: 10px;
    height: 50px; 
    width: 50px; 
    display: block;
}

.blogImg{
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

.blogs a{
    text-decoration-style: dashed;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

.container-fluid{
    padding: 0 0% 10%;
    margin: 0;
}

.container{
    padding: 3% 15%;
}

/*SNIPPETS
*/
.snips{
    margin-top: 0%;
}

.snips-buttons{
    text-align: left;
    padding-bottom: 10px;
}

.snips-buttons-link a{
    background-color: #f1ab86;
    font-size: 18px;
    border-color: transparent;
    padding-right: 10px;
    border-style: double;
    line-height: 1;
  text-align: center;
  color: #335145;
}

.snips-buttons-link a:hover{
   background-color: #f7dba7;
    border-color: transparent;
    color: #335145;
    text-decoration: none;
}


.snips button{
    background-color: transparent;
    font-size: 18px;
    border-color: transparent;
    padding-right: 10px;
    border-style: double;
    line-height: 1;
  text-align: center;
  color: #f1ab86;
  text-decoration-style: dashed;
}

.snips button:hover{
    background-color: #f7dba7;
    border-color: transparent;
    color: #335145;
    text-decoration-style: dashed;
}

.porfo {
    width: 100%    !important;
  height: auto   !important;
    text-align: center;
}

/*
.snips a{
    background-color: transparent;
    font-size: 18px;
    border-color: transparent;
    padding-right: 10px;
    border-style: double;
    line-height: 1;
  text-align: center;
  color: #f1ab86;
  text-decoration-style: dashed;
}

.snips a:hover{
    background-color: #f7dba7;
    border-color: transparent;
    color: #335145;
    text-decoration-style: none;
}
*/


/*WRITING*/
.topics{
    margin-left: 30%;
}

.topic-buttons{
    text-align: right;
}

.topics button{
    background-color: transparent;
    font-size: 18px;
    border-color: transparent;
    padding-right: 10px;
    border-style: double;
    line-height: 1;
  text-align: center;
  color: #f1ab86;
  text-decoration-style: dashed;
}

.topics button:hover{
    background-color: #f7dba7;
    border-color: transparent;
    color: #335145;
    text-decoration-style: dashed;
}


.offset:before{
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block;
}


/*-----------------*/


/*Article*/
.badge{
    background-color: #FCB9A4;
}

.badgeOne{
    background-color: #FCDFA4;
}

.postImg{
    width: 100%;
    height: 400px;
}

.profileImg{
    display: inline;
    height: 50px;
}

.author{
    display: inline;
}

.profile a{
    color: #FAD1AE;
}

.profile a:hover{
    text-decoration: none;
    color: #FCDFA4;
}

video{
    width: 100%    !important;
  height: auto   !important;
    text-align: center;
    
}

/*IMAGE HOVER CHANGE*/
#imageChange {
  height:281px;
  width:450px;
  margin:0 auto;
}

#imageChange img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#imageChange img.top:hover {
  opacity:0;
}
/*-------------------------*/

.bodybo{
    padding: 10% 10%;
}

.bodybo img{
    height: 400px;
    width: auto;
}

.margy{
    padding-top: 50px;
}

/*CODE*/
.bodybody{
    padding: 10% 20%;
}

.bodybody img{
    height: 300px;
    width: auto;
    margin: 10px;
}

.bodybody p{
    padding: 5px 0;
}

.introVid{
    height: 100vh;
    background-color: #1e352f;
}

.yedidia{
    margin: -50% 0; 
    padding: 10%;
}

.yedidia a{
    color: #f1ab86;
}

.yedidia a:hover{
    color: #B1DECA;
    text-decoration: none;
}

.bodybody h4, h2{
    padding: 10px 0;
}

.green{
    background-image: linear-gradient(to right, #B1DECA , #335145);
    color: #fff;
    height: 100vh;
    width: 100vw;
}

.greenn{
    background-color: #335145;
    color: #fff;
    height: 100vh;
    width: 100vw;
}

.orange{
    background-image: linear-gradient(to right, #FCDFA4 , #f1ab86);
    color: #fff;
    height: 100vh;
    width: 100vw;
}

/*PROJECTS BUTTONS*/
.roles a{
    border-radius: 10px;
    padding: 4px;
    margin: 0 5px;
    
}

.roles a:hover{
    border-radius: 10px;
    padding: 4px;
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
}

.pm{
    background-color: #FCDFA4;
    color: #335145;
   border-color: #FCDFA4;
}

.iD{
    background-color: #335145;
    color: white;
   border-color: #335145;
}

.cd{
    background-color: #f1ab86;
    color: #335145;
   border-color: #f1ab86; 
}

/*
.projects h4, h5{
    color: #fff;
}
*/

.introc h1{
    color: #fff;
}

.projects h6{
    color: gray;
}

.projects a:hover{
    text-decoration: none;
}
/*-------------------------*/


/*
.secone{
    background-color: #f1ab86;
    position: relative;
}
*/

/*TIMELINE*/

#journey{
    background-image: linear-gradient(to right, #6d6875 , #b5838d);
    color: white;
/*    background-size: cover;*/
    
}

/* Style the header: fixed position (always stay at the top) */
/*
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
*/

/* The progress container (grey background) */
/*
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}
*/

/* The progress bar (scroll indicator) */
/*
.progress-bar {
  height: 8px;
  background: #DEF4E2;
  width: 0%;
}
*/

/*LANGUAGE CONTROL*/
/*
#lang-switch {
    border-radius: 10px;
    border-color: #DEF4E2;
}
*/

.outer-border {
    height: 667px;
    width: 375px;
}

.border {
    left: 20px;
    margin: 20px;
    padding: 10px;
    background-color: #B1DECA;
    border: none;
    height: 414px;
    width: 300px;
}

/*MOBILE LINKS PAGE*/
.link{
    
}

.linkContainer {
    margin: 50px;
    padding: 50px;
    background-color: orange;
    height: 414px;
    width: 300px;
    
}

.linkContainer ul{
    list-style: none;
    
}

.linkContainer li{
    font-size: 20px;
    list-style: none;
    margin-top: 10px;
    height: 40px;
    width: 150px; 
}

.links a{
    text-decoration: none;
    color: #f1ab86;
    
}

.links a:hover{
    text-decoration: none;
    color: black;
    background-color: #f1ab86;
}

.images {
    display: grid;
}

.images .row{
     margin-left: 20px;
    margin-right: 20px;
/*    margin-top: 15%;*/
    text-align: center;
/*    padding: 10px;*/
    display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.stills .col-md-10{
    margin-top: 15%;
    
}
.images .col-md-10{
    text-align: center;
    padding: 10px;
    flex: 50%;
  padding: 0 4px;
}

/*CURSOR*/
/*
.cursor{
    height: 3rem;
    width: 3rem;
    border: 2px solid #335145;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.32 ease;
    transition-property: background, transform;
}
*/

/*
.cursor-dot{
    height: 1rem;
    width: 1rem;
    border: 2px solid #335145;
    border-radius: 50%;

    position: absolute;
    transform: translate(-40%, -40%);
}


.cursor-grow{
    transform: scale(1.5);
}
*/

.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover {
    transform: scale(1.5); 
    position: relative;
    z-index: 1;
    cursor: zoom-in;
}


.readable {
    background-color: #f1ab86;
    border-color: white;
    color: white;
    
}

.white {
   background-color: white;
    border-color: #f1ab86; 
    color: #f1ab86;
}

/* BIO
=========================== */
#bio img{
    width: 350px;
}

/* RESUME
=========================== */

.resume img {
    width: 75vw;
}


/** {box-sizing:border-box}*/

.mobileshow-container {
  height: 80vh;
    width: 80vw;
    padding-top: 50px;
  position: relative;
  margin: auto;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
    overflow-y: hidden;
}

.mobileImg {
    height: 80vh;
    width: auto;
    background-position: center;
  background-repeat: no-repeat;
/*  background-size: cover;*/
    position: fixed;
  left: 40;
  bottom: 60;
    overflow-x: hidden;
/*
  min-width: 100%;
  min-height: 100%;
*/
}

.backImg {
    height: auto;
    width: 100vw;
    margin-top: -180px;
    margin-bottom: 10%;
    background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
/*    position: fixed;*/
    overflow-x: hidden;
    overflow-y: hidden;
/*
  min-width: 100%;
  min-height: auto;
*/
   display: block;
/*
    left: 0;
    top: 0;
*/
/*
    right: 0;
  bottom: 0;
*/
  margin-left: -10%;
  margin-right: -10%;
/*  width: 60%;*/
}

/* Slideshow container */
.slideshow-container {
  height: 100vh;
    width: auto;
  position: relative;
  margin: auto;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
    overflow-y: hidden;
}

.slideImg {
    height: 100vh;
    width: auto;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    position: fixed;
  right: 0;
  bottom: 0;
    overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prevu, .nextu {
   position: absolute;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


.prevu {
  top: 80%;
    left: 45%;
  width: auto;
    transform: rotate(90deg);
/*  margin-top: -22px;*/
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
    
}

.nextu {
  top: 10%;
    left: 45%;
    transform: rotate(-180deg);
  width: auto;
  margin-top: -22px;
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
    color: #f1ab86;
}

.mobL {
  top: 80%;
    left: 0%;
    position: fixed;
    transform: rotate(180deg);
  width: auto;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline;
    cursor: pointer;
}

.mobR {
    top: 80%;
    right: 0%;
    transform: rotate(-90deg);
    position: fixed;
  border-radius: 3px 0 0 3px;
  transition: 0.6s ease;
  user-select: none;
    display: inline;
  cursor: pointer;
}


/* Caption text */
.caption a{
  padding: 140px 12px;
  position: absolute;
  bottom: 15%;
  text-align: right;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -7px;
    color: #f1ab86;
  height: 350px;
  width: 100%;
}

.caption a:hover{
  padding: 140px 12px;
  position: absolute;
  bottom: 15%;
  text-align: right;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -7px;
    color: #B1DECA;
    text-decoration: none;
  height: 350px;
  width: 100%;
}

.captionm a{
  padding: 80px 12px;
  position: fixed;
  bottom: -10%;
    right: 0%;
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -7px;
    color: #B1DECA;
  height: 350px;
  width: 100%;
}

.captionm a:hover{
  padding: 80px 12px;
  position: fixed;
  bottom: -10%;
/*    right: 0%;*/
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -7px;
    color: #f1ab86;
    text-decoration: none;
/*  position: relative;*/
/*  overflow: hidden;*/
  height: 350px;
  width: 100%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*SCROLLBAR NOT DISPLAYED*/
::-webkit-scrollbar {
    display: none;
}



/* DISTORTION
=========================== */
/*
.distortion {
  width: 580px;
  height: 720px;
  position: absolute;
  right: 300px;
  bottom: 0;
}
*/

/* OVERLAY
=========================== */
/*
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background: #f7dba7;
}

.second {
  background: #f1ab86;
  left: 33.3%;
}

.third {
  background: #c57b57;
  left: 66.6%;
}
*/

/* MENU
=========================== */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
/*    right: 0;*/
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
/*  color: #f1f1f1;*/
    text-decoration: none;
    color: #f1ab86;  
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.menu {
  position: fixed;
    top: 0%;
    right: 0;
    z-index: 1;
    list-style: none;
    text-align: right;
    color: #f1ab86;
    text-decoration: none;
}

.menuM {
  position: fixed;
    top: 0%;
    right: 0;
    z-index: 1;
    list-style: none;
    text-align: right;
    color: #B1DECA;
    text-decoration: none;
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}